@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalización mínima de body. Todo lo demás será controlado por Tailwind en el JSX. */
body {
  background-color: #f9fafb; /* equivale a bg-gray-50 */
  color: #1f2937; /* equivale a text-gray-800 */
  font-family: 'Inter', sans-serif;
}